

{% load static %}

{% include 'store/bootstrap_primary.html' %}
 {% block content %}

 <nav class="navbar navbar-expand-lg navbar-light bg-light">


  <a class="navbar-brand" href="{% url 'store' %}">
    {% for image in sitelogo %} 
    <img class="site-logo" src="{{image.logoImage.url}}"  alt="" loading="logo">
    {% endfor %}
  </a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <form class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 search-btn" type="submit">Search</button>
    </form>
  <ul class="navbar-nav ">
 
    <li class="nav-item dropdown cart-container">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fab fa-opencart" id="cart-icon" ></i><p id="cart-total">{{cartItems}}</p><br><small>&#8377 {{order.get_cart_total|floatformat:2}}</small>
        </a>
         <div class="dropdown-menu dropdown-card" aria-labelledby="navbarDropdown">
          <div class="table-scroll">
          <table class="table">
            <tbody class="table-container">
             {% for item in items%}
             {% if item.product.name == None %}
             
             {% else %}
            <tr>
             <td><img class="row-image" src="{{item.product.imageURL}}"></td>
             <td>{{item.product.name}}<br> &#8377 {{item.product.price}} x{{item.quantity}} </td>
            </tr>
            {% endif %}
                {% endfor %}
         </tbody>
      
        </table>
      </div>
      <div>
          <div class="bottom-th">
          Subtotal:&#8377 {{order.get_cart_total|floatformat:2}}
          <a href="{% url 'cart' %}" class="btn btn-secondary btn-sm active drop-cart-btn" role="button" aria-pressed="true">View cart <i class="fas fa-angle-right"></i></a>
           </div>
          <a href="{% url 'checkout' %}" class="btn btn-secondary btn-sm active drop-checkout-btn" role="button" aria-pressed="true"><i class="fas fa-credit-card"></i> Checkout</a>
        </div>
        
      </li>

      <li class="nav-item nav-user-container">
        <a class="nav-link" id="account-view"><i class="far fa-user"> |</vr></i><span class="sr-only">(current)</span>
          <small>Sign in</small><br> My Account</a>
      </li>



    </ul>



 
  </div>
</nav>


<div class="dept-nav">
  <div class="dept-nav-center">
    {% for rs in  category %}
    <a href="{% url 'product_category' rs.name %}">{{rs.name}}</a></td>
    {% endfor %}
  </div>
</div>
<hr>

 {% endblock %}

<br>


</body>
